<div id="grupo" class="container d-flex justify-content-center align-items-center flex-column">
  <h3 style="margin: 2rem">Grupo:</h3>
  <ul class="list-group" style="margin-bottom: 2rem">
    <li class="list-group-item">Aluno: Ailson Ferreira de Oliveira Junior | RA: 235708</li>
    <li class="list-group-item">Aluno: Arthur Gabriel de Menezes Viana | RA: 235739</li>
    <li class="list-group-item">Aluno: Diego Augusto da Costa Ferreira | RA: 235581</li>
    <li class="list-group-item">Aluno: João Victor dos Santos Alves | RA: 236177</li>
    <li class="list-group-item">Aluno: Marcos Antonio V. de Oliveira | RA: 235012</li>

  </ul>
</div>
