<div id="grupo" class="container d-flex justify-content-center align-items-center flex-column">
  <h3 style="margin: 2rem">Grupo:</h3>
  <ul class="list-group" style="margin-bottom: 2rem">
    <li class="list-group-item">Aluno: Blabla | RA: number number</li>
    <li class="list-group-item">Aluno: Blabla | RA: number number</li>
    <li class="list-group-item">Aluno: Blabla | RA: number number</li>
    <li class="list-group-item">Aluno: Blabla | RA: number number</li>
    <li class="list-group-item">Aluno: Blabla | RA: number number</li>

  </ul>
</div>
