div {
  margin-top: 4rem;
}

#powerBI iframe {
  width: 600px;
  height: 373.5px;
}

@media (max-width: 768px) {
  #powerBI iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
}
